################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpeedTestDashboard2/config
/.vs/SpeedTestDashboard2/v16
/.vs/VSWorkspaceState.json
